@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

.header{
    height: 50px;
    background: rgb(206, 253, 255);
    font-family:  'Arvo';
    font-size: 30px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

a{
    font-size: 15px;
}

.product{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.carousel{
    width: 250px !important;
    margin: 30px;
}

.description{
    margin-top: 30px;
}

.info{
    width: 30%;
}

@media (max-width: 700px){
    .product{
        display: inherit;
        text-align: center;
    }

    .carousel{
        margin: auto;
        margin-top: 20px;
    }

    .info{
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 350px){
    #linkHome{
        display: none;
    }

    .header{
        text-align: center;
    }
}